body{
    background-color: darkslategray;
}


h1{
    color: red;
    text-shadow: 0 0 5px 15px black ;
}
p{
    text-transform: capitalize;
    color: #3b3737;
    letter-spacing: 5px;
    border: #000;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 200px;
    padding: 10px;
    background-color: #fff;
}