body{
    background-color: aquamarine;
}


h1{
    color: red;
    text-shadow: 0 0 5px 15px black ;
}
p{
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 5px;
    border: #000;
    border-radius: 10px;
    background-color: #fff;
}