body{
    background-color: #000;
}


h1{

    color: rgb(230, 171, 22);
    text-shadow: 0 0 5px 15px black ;
}
p{
 
    text-transform: capitalize;
    color: rgb(230, 171, 22);;
    letter-spacing: 5px;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
   
}